<!-- app/views/index.html.erb -->
<h1 style="font-size: 24px; font-weight: bold; margin-bottom: 10px;">Food</h1>
<p style="font-size: 16px; color: #555;">Sample food recipes website made in Ruby On Rails 7 and React</p>
